body{
  margin:0;
  height:100%;
  font-size: 16px;
  font-family:"Lato",sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}
#image1 {
  background-image: url("./images/1.jpg");
  min-height: 100vh;
}
#image2 {
  background-image: url("./images/2.jpg");
  min-height: 50vh;
}
#image3 {
  background-image: url("./images/3.jpg");
  min-height: 50vh;
}
#image4 {
  background-image: url("./images/1.jpg");
  min-height: 100vh;
}
h2 {
  text-transform: uppercase;
  word-spacing: 3px;
}

.img {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.text {
  text-align: center;
  padding: 50px 80px;
}

.text1 {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color:#FFFFFF;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.dark {
  background-color: grey;
	color: white;
}
.light {
  background-color: lightgrey;
  color: black;
}
.main {
  font-size: 50px;
	word-spacing: 20px;
}
.light,.dark{
	opacity: 0.5;
}
.border{
	color: white;
	text-decoration-style: solid;
}
@media(max-width:1000px){
  .img{
    background-attachment:scroll;
  }
  .border {
    font-size: 100px;
  }
}
