#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
body { -webkit-text-size-adjust: none; }
body {font-family: Arial, Helvetica, sans-serif;}

.image-container {
  background-image: url("./images/1.jpg");
  background-size: cover;
  position: relative;
  min-height: 100vh;
}

#textX {
  background-color: white;
  color: black;
  font-size: 10vw;
  font-weight: bold;
  margin: 0 auto;
  padding: 2px;
  width: 43%;
  line-height: 10vw;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}
#myDiv {
  display: none;
}
body{
  margin:0;
  height:100%;
  font-size: 16px;
  font-family:"Lato",sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}
#image1 {
  background-image: url("./images/1.jpg");
  min-height: 100vh;
}
#image2 {
  background-image: url("./images/2.jpg");
  min-height: 50vh;
}
#image3 {
  background-image: url("./images/3.jpg");
  min-height: 50vh;
}
#image4 {
  background-image: url("./images/1.jpg");
  min-height: 100vh;
}
h2 {
  text-transform: uppercase;
  word-spacing: 3px;
}

.img {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  background-attachment:fixed;

}

.text {
  text-align: center;
  padding: 50px 80px;
}


.text1 {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color:#FFFFFF;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.dark {
  background-color: grey;
	color: white;
}
.light {
  background-color: lightgrey;
  color: black;
}
.main {
  font-size: 50px;
	word-spacing: 20px;
}
.light,.dark{
	opacity: 0.5;
}
.border{
	color: white;
	text-decoration-style: solid;
}
@media(max-width:1000px){
  .img{
    background-attachment:scroll;
  }
  .border {
    font-size: 100px;
  }
}
